# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints

# Environment
.env
venv/
env/
.venv/

# PyTorch
*.pt
*.pth

# VSCode
.vscode/

# Mac/Linux
.DS_Store
*.swp

# Matplotlib / plots
results/*.png
